@import "tailwindcss";

@theme {
  --color-vigia-blue: #1A2B6D;
  --color-vigia-blue-dark: #121f4f;
  --color-vigia-bg-light: #f4f7fa;
  --color-primary: #1E3A8A;
  --color-sidebar: #1E3A8A;
  --color-destructive: #DC2626;
  --radius: 0.625rem;
}

@layer base {
  html, body {
    @apply antialiased tracking-tight m-0 p-0 text-slate-800 text-[16px];
  }
}

@layer utilities {
  .animate-pulse-red {
    animation: pulse-red 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes pulse-red {
  0%, 100% {
    opacity: 1;
    color: var(--color-destructive);
  }
  50% {
    opacity: .4;
    color: #ff4848;
  }
}
